@import "variables";

footer{
    .container{
        p{
            padding: 40px 0;
            text-align: center;
            background-color: #f5f5f5;
            font-weight: 500;  
        }
        
    }
    
}
